<div class="bg-extended">
    <div class="align-vertical-center">
        <div class="container">
            <div class="row">
                <div class="well col-sm-offset-3 col-sm-6">
                    <div class="well-heading alert-danger">
                        <h1>Error {{code}}</h1>
                        <span style="float:right;padding:50px;padding-top:90px;">
                            <a href="#/home" class="btn btn-primary btn-fab btn-raised"><i class="glyphicon glyphicon-home"></i></a>
                        </span>
                    </div>
                    <div class="well-body">
                        <h4>{{message}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
